<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>jenkins-worker</name>
  <description>jenkins-worker</description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.916.vd17b_43357ce4">
    <host>10.0.1.216</host>
    <port>22</port>
    <credentialsId>node-ssh-key</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>jenkins-worker</label>
  <nodeProperties/>
</slave>